#content-primary
  %h1
    About
    
  %ul#faq
    %li
      %a{:href => "#what-is-this"} What is this?
    %li
      %a{:href => "#how-does-it-work"} How does it work?
    %li
      %a{:href => "#who-is-it-for"} Who is it for?
    %li
      %a{:href => "#why-did-you-build-it"} Why did you build it?
    %li
      %a{:href => "#why-offer-a-poster"} Why offer a poster?
    %li
      %a{:href => "#why-are-you-grouping-crimes-by-ward"} Why are you grouping crimes by ward?
    %li
      %a{:href => "#where-does-this-data-come-from"} Where does this data come from?
    %li
      %a{:href => "#anything-i-should-know-about-this-data"} Anything I should know about the data?
    %li
      %a{:href => "#who-built-it"} Who built Crime in Chicago?
    %li
      %a{:href => "#can-i-do-this-for-my-city"} Can I get this site for my city?
    %li
      %a{:href => "#what-technologies-did-you-use-to-build-the-site"} What technologies did you use to build the site? (For the Geeks)
           
  
  %h2#what-is-this What is this?
  
  %p
    Crime in Chicago is a data visualization by <a href="http://opencityapps.org">Open City</a> that lets you explore crime trends in Chicago's 50 wards. It was built using <a href='https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2'>open data about Chicago crimes</a> released by the <a href='http://www.cityofchicago.org/police'>Chicago Police Department</a>.
    
  %p
    With this website, you can compare crime levels over the years and across city wards. You can further explore each ward’s crime profile, which shows daily crime volumes going back to 2002, crime types and subcategories, and contact info for each Ward Alderman.
     
  %h2#how-does-it-work How does it work?
  
  %ol
    %li
      First, <strong>pick a year and a ward</strong> on the home page. If you don’t know what ward you’re in, enter in your address to find it. Wards with more crime have higher bars.
      = image_tag "about/ward-selector.png", :title => "The ward selector", :class => "content-image"
      %p.mute The ward selector
    %li
      This will bring up a heatmap that displays an <strong>entire calendar year of crime for that ward</strong>. Each square represents a day. The darker the square, the more crimes occurred that day.
      = image_tag "about/ward-42.png", :title => "A year of crime in Ward 42 by volume", :class => "content-image"
      %p.mute A year of crime in Ward 42 by volume
    %li
      To <strong>compare wards</strong>, choose multiple wards from the 'Select wards' section. You can stack two different ward heatmaps, or view multiple years of crime for a single ward.
  
    %li
      Once you have a ward selected, click on its name to <strong>view that ward's crime trends</strong>. You can discover how crime in the ward has changed over time, what crimes occur most frequently, and how crime activity fluctuates across the day.
      = image_tag "about/ward-42-expanded.png", :title => "Expanded details for Ward 42", :class => "content-image"
      %p.mute Expanded details for Ward 42
    %li
      %p
        To view a <strong>ward’s crime profile</strong>, click on the “View all ward details” link. This will bring you to a detail page featuring heatmaps of the past 10 years of crime in the ward, contact info for each alderman, and a breakdown of all these crimes by category.
      = image_tag "about/crime-categories.png", :title => "Crime types", :class => "content-image"
      %p.mute Crime types
      .clear
      %p
        On the right, you can see the minimum (low), average, maximum (high) and total number of crimes in each category. Click on each crime category to see the legal definition of the crime, a closeup of the chart showing the number of times that crime has occurred per month, and a table containing subcategories of that crime type. 
      %p
        These subcategories come from the Chicago Police Department. Fair warning: they can be a little messy and cryptic.

  %h2#who-is-it-for Who is it for?
  %p
    This free tool is for anyone interested in crime in Chicago. It was designed to be simple and to allow anyone to visualize crime trends in their community.
  %p
    It can be used by:
  
  %ul
    %li citizens who are concerned or curious about crime in the community
    %li city officials tracking neighborhood trends
    %li aldermen trying to identify and address local problem areas
    %li policemen looking to place their experience of the streets in a broader context
    %li community groups trying to understand the neighborhoods they serve
    %li journalists as a reporting tool
    %li academics researching urban crime
    
  %h2#why-did-you-build-it Why did you build it?
    
  %p
    A few reasons:
  
  %ul
    %li
      %p
      There are several websites (like <a href='http://www.everyblock.com'>Everyblock</a> and <a href='http://spotcrime.com/il/chicago'>SpotCrime</a>) out there that show individual crime incidents. We wanted to illustrate a bigger picture out and visualize trends because crime is a social phenomenon. To understand it, you need to observe how it varies across the city and changes over time. 
    %li
      %p
        Crime is often sensationalized, so it’s important to put it in context. How prevalent are murders, really? Is your neighborhood actually experiencing a crime wave? What’s the real risk of going out at a certain time or visiting certain neighborhoods? 
    %li
      %p
        We often talk about crime in sweeping, city-wide terms: Chicago had 346,522 crimes in 2011. 15,587 carjackings. 430 homicides. But where are all these crimes happening? And what kinds of crimes are they? Chicago’s crime landscape is highly uneven.
      %p
        Our app lets you look at crime trends at the local level to explore dozens of crime categories for every ward in the city.
  
  %h2#why-offer-a-poster Why offer a poster?
  
  %p
    We've never done one before, and we thought that crime for all 50 wards would be a great dataset to make a static visualization of. <a href='/poster'>Get one now!</a>
    
  %p
    All of the proceeds for the poster will go towards hosting for this site and continued development on projects for <a href='http://opencityapps.org'>Open City</a>.
    
  %h2#why-are-you-grouping-crimes-by-ward Why are you showing crimes by ward?
    
  %p
    There are many useful ways to group crime geographically: by neighborhood, police district, community area and many others. Wards were a good first step and proof of concept.
    
  %h2#where-does-this-data-come-from Where does this data come from?
  %p
    The <a href='http://www.cityofchicago.org/police'>Chicago Police Department</a> has tracked crime incidents in the city for years, but they have never before released this data to the public.
  %p
    In June 2011, the CPD released anonymized records of the 4,802,684 reported crimes that took place in Chicago from 2001 to 2011. This data is <a href='https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2'>now available</a> on the <a href='http://data.cityofchicago.org'>City of Chicago's data portal</a>. It is updated daily.     

  %h2#anything-i-should-know-about-this-data Anything I should know about this data?
  %ul
    %li   
      %p
        When we say “crime,” we mean “crimes reported to the Chicago Police Department.” Many crimes in Chicago never get reported. 
    %li    
      %p
        Crime incidents are first recorded by police officers at the scene of the crime. A crime’s category may change over time as the case develops.
    %li
      %p  
        This website does not track crimes in real-time. The Police Department waits two weeks before releasing data about a crime. We plan on updating the site every month.
  
  %h2#who-built-it Who built Crime in Chicago?
  %p
    This site was built by <a href='http://opencityapps.org'>Open City</a>, a volunteer group of technologists and researchers based in Chicago that create civic apps with open government data.
  %p
    Check out our <a href='http://opencityapps.org/#projects'>other projects</a>, and feel free to get in touch at <a href='mailto:info@opencityapps.org'>info@opencityapps.org</a>
  
  %h2#can-i-do-this-for-my-city Can I get this site for my city?
  
  %p
    Want to deploy this app in another city? All the code is up on <a href='https://github.com/open-city/crime-in-chicago'>github</a>.
  
  %h2#what-technologies-did-you-use-to-build-the-site What technologies did you use to build the site? (For the Geeks)
  %ul
    %li Front-end: HTML, CSS, <a href='http://jquery.org'>jQuery</a>
    %li Data visualization: <a href='https://github.com/mbostock/d3/wiki/Gallery'>D3</a>, <a href='http://www.highcharts.com/'>Highcharts</a>, Sparklines, <a href='https://developers.google.com/maps/documentation/javascript/'>Google Maps</a>, <a href='http://www.google.com/fusiontables'>Fusion Tables</a>
    %li Back-end: Ruby, <a href='http://www.sinatrarb.com/'>Sinatra</a>, <a href='http://www.postgresql.org/'>Postgres</a>