#content-primary
  %h1
    About
    
  %ul#faq
    %li
      %a{:href => "#what-is-this"} What is this?
    %li
      %a{:href => "#how-does-it-work"} How does it work?
  
  %h2#what-is-this What is this?
  
  %p
    This website lets you explore crime trends in Chicago's wards. Its a data visualization app built using open data about Chicago crimes released by the Chicago Police Department.
  %p
    At a glance, it lets you see an entire year of crime in a ward. 
  %p
    You can also compare crime levels over the years and across the city.
  %p
    And you can drill down to explore each ward’s homicides, robberies, assaults, and dozens of other crimes.
  
  %h2#how-does-it-work How does it work?