- content_for :javascript do
  = include_javascript "crime-by-ward"
  :javascript
    $(document).ready(function() {
      $(".ward-selector").click(function() {
        $(this).parent().attr('class', 'current');
        Ward.create($(this).attr("data-ward"), $(this).attr("data-year"), "#ward-charts");
        return false;
      });
    });

#vis
  = haml :"year-selector"
  = haml :"ward-selector"

  .vis-label
    %h2 Compare
    %p.tip
      %strong Tip:
      Drag wards up and down to reorder for easy comparison.

  .vis-content
    #compare
      #ward-charts

