- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $("a.ward-selector").click(function(event) {
        var $element = $(this);

        var number = $element.attr("data-ward");
        var year   = $element.attr("data-year");

        $element.parent().addClass("current");

        var ward = new OpenCity.Ward(number, year);
        ward.present();
        
        $("#timeline-empty").hide();
        analyticsTrackEvent("Click", "Home: ward selected", "ward:" + number + " year:" + year);
        
        return false;
      });

      $("#clear_all_wards").click(function() {
        $("#ward-charts div.timeline").remove();
        $("a.ward-selector").each(function(index, element) {
          $(element).parent().removeClass("current");
        });
        
        $("#timeline-empty").show();
        analyticsTrackEvent("Click", "Home: clear all wards", "");
        return false;
      });
    });

#vis
  = haml :"year-selector"
  = haml :"ward-selector"

  .vis-label
    %h2{:id => "compare"}
      3. Compare
    .legend
    %img{:alt => "Darker square indicate higher volume of crime", :src => "/images/scale.png" }
    .xaxis
      .tick.first Lower
      .tick.last Higher

    %p.tip
      Darker squares indicate higher volume of crime.
      
    %p.tip
      %a#clear_all_wards{:href => "#"}
        Clear all

  .vis-content
    #compare
      #ward-charts
        #timeline-empty
          Select a ward above or search by address to see details.
