%h3 Subcatgories
%ol.chart-bar
  - @subcategory_list = ward_detail_subcategory_list(ward, (decode_element_id fbi_code))
  - @max = @subcategory_list.map { |h| h[:crime_count] }.max
  - @subcategory_list.each do |s|
    %li
      %span.point
        %span.idx{:style => "width: #{number_to_percentage(s[:crime_count].to_f / @max)}%"}
        %span.label
          = s[:subcategory].briefcase
        %span.count
          = format_number s[:crime_count]

