.vis-label
  %h2 Select wards

  %p Choose two or more to compare crime data.
  %p Height = no. of crimes
  %p#map-toggle
    %a{:href => "#"}
      Show map

.vis-content
  #wards
    = haml :"ward-crime-columns", :locals => { :year => "2011" }

  .ward-map

%hr
