%table
  - ward_detail_subcategory_list(ward, (decode_element_id primary_type)).each do |s|
    %tr
      %td{:colspan => "5"}
        = s[:description].briefcase
      %td
        = format_number s[:crime_count]
    

