.timeline{:id => "ward-#{ward}"}
  %span.handle{:title => "Drag to reorder"}
  %a.remove{:href => "#", :title => "Remove"} Remove
  %h2
    %a{:href => "#"}
      == Ward #{ward}
    %span
      Click anything blue to see more details

  = haml :"ward_heatmap", :locals => { :identity => ward }
  = haml :"ward_stats", :locals => { :ward => ward, :map_src => map_src, :year => year }

  .clear

