- content_for :javascript do
  :javascript
    $(document).ready(function() {
      //display ward map
      FusiontableAllWards.create("ward_map");
      
      $('#map_toggle a').click(function() {
        if ($(this).html().indexOf("Show map") != -1)
          $(this).html('Hide map');
        else
          $(this).html('Show map');
        
        $("#ward_map").slideToggle(function() {
          google.maps.event.trigger(document.getElementById("ward_map"), 'resize');
          map.setCenter(chicago);
        });
        
        return false;
      });
    });

.vis-label
  %h2 Select wards

  %p Choose two or more to compare crime data.
  %p Height = no. of crimes
  %p#map_toggle
    %a{:href => "#"}
      Show map

.vis-content
  #wards
    = haml :"ward-crime-columns", :locals => { :year => "2011" }

  %hr
  
  #ward_map{:style => "display: none; "}

%hr
