- content_for :javascripts do
  :javascript
    $(function() {
      function search(element) {
        FusiontableWard.findWard(element.val());
      }

      $("#ward_search").click(function() {
        search($("#ward_address"));
      });

      $("#ward_address").keydown(function(event) {
        if (event.which == 13) {
          search($(this));
        }
      });
    });

.vis-label
  %h2 2. Select wards

  %p Choose two or more to compare crime data.
  %p Height = no. of crimes

.vis-content

  #search
    %input.hint#ward_address{:type => "text", :name => "q", :title => "Enter an address or an intersection..."}
    %input.btn#ward_search{ :type => "button", :value => "Find my ward" }
    %span#foundWardNumber

  #wards
    = haml :"ward-crime-columns", :locals => { :year => "2011" }

%hr
