.vis-label
  %h2 Select wards

  %p Choose two or more to compare crime data.
  %p Height = no. of crimes

.vis-content
  #wards
    = haml :"ward-crime-columns", :locals => { :year => "2011" }
  
  #wardmap
  
  = include_javascript "raphael-min"
  = include_javascript "wardmap"
  = include_javascript "wardmap.svg"

%hr
