.statistics{:style => "display: none;"}
  = haml :"ward/statistics/map", :locals => { :map_src => map_src, :ward => ward }

  .crime
  .category
  .sparkline

  = haml :"ward/statistics/detail", :locals => { :ward => ward }

