- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('.year-selector a').click(function() {
        if (!$(this).parent().hasClass("current")) {
          $.get("/wards/"+$(this).attr("data-year")+"/partials/crime-columns", function(data) {
            $("#wards").html(data);
          });
        }

        $('.year-selector.current').each(function() {
          $(this).removeClass("current");
        });

        link = $(this);
        link.parent().addClass("current");
      });
    });

.vis-label
  %h2 Select year

.vis-content
  %ol#years
    - (2002..2011).each do |year|
      %li.year-selector{:class => "#{"current" if year == 2011}"}
        %a{:"data-year" => year, :href => "#"}= year
%hr
