- content_for :javascript do
  :javascript
    $(document).ready(function() {
      Ward.events.load_year_clickables();
    });

.vis-label
  %h2 Select year

.vis-content
  %ol#years
    - (2002..2011).each do |year|
      %li.year-selector{:class => "#{"current" if year == 2011}"}
        = link_to year.to_s, "#", :"data-year" => year
%hr
