- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('.year-selector a').click(function() {
        var selected_year = $(this).attr("data-year");
        $.get("/wards/"+selected_year+"/partials/crime-columns", function(data) {
          $("#wards").html(data);

          $("#ward-charts div[data-year="+selected_year+"]").each(function(index, element) {
            $("#wards a[data-ward="+$(element).attr("data-ward")+"]").parent().addClass("current");
          });

          $(".ward-selector").click(function() {
            $(this).parent().attr('class', 'current');

            var element = $(this);
            var number = element.attr("data-ward");
            var year   = element.attr("data-year");
            element.parent().attr("class", "current");

            var ward = new OpenCity.Ward(number, year);
            ward.present();
            return false;
          });

          $(".chart-column .idx").tooltip({
            delay: 0,
            fade: 250,
            showBody: " - ",
            showURL: false,
            track: true
          });
        });

        $('.year-selector.current').each(function() {
          $(this).removeClass("current");
        });

        link = $(this);
        link.parent().addClass("current");

        return false;
      });
    });

.vis-label
  %h2{:id => "select-year"}
    1. Select year

.vis-content
  %ol#years
    - (2002..(Time.now.year)).each do |year|
      %li.year-selector{:class => "#{"current" if year == 2011}"}
        = link_to year.to_s, "#", :"data-year" => year
%hr
