* {
  font-family: "Segoe UI", "Trebuchet MS", Verdana, sans-serif;
  line-height: 1.3;
  margin: 0; 
  padding: 0; 
}  

a { color: #009; }
a:hover { text-decoration: none; }
a:hover img { border-color: #555; }
body { background: #eee; font-size: 0.9em; padding: 2em; }
.clear { clear: both; }
h1 { font-size: 2em; font-weight: normal; margin-bottom: 1em; }
h2 { font-size: 1.5em; margin-bottom: 1em; }
li { float: left; margin: 0 1em 1em 0; position: relative; }
img { border: 5px solid #ddd; display: block; }

.num {
  background: #fff;
  display: block;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1.3em;
  padding: 0.8em 0 1em;
  text-align: center;
  text-decoration: none;
}  

a:hover .num { background: #555; color: #fff; }

#page {
  background: #fff;
  border: 10px solid #ddd;
  margin: 0 auto;
  padding: 2em;
}  

ul { list-style: none; }
