/*------------------------+
 | Site: Crime in Chicago |
 | Part: Master styles    |
 +------------------------*/

/* Imports
=====================================================================*/
@import url(http://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic|Open+Sans:400,400italic,700,700italic);
@import "reset.css";


/* Fonts
=====================================================================*/
.action h1, h2, h3, h4, h5, h6, #identity, .price, .wards, #years { font-family: Arvo, Georgia, "Times New Roman", Times, serif; }
body, h1 span, h2 span, h3 span, input { font-family: "Open Sans", Arial, sans-serif; }


/* Basics
=====================================================================*/
a { color: #227fa2; text-decoration: none; }
a:hover { text-decoration: underline; }
body { font-size: 14px; line-height: 1.4; padding-bottom: 15px; }
body.map_enlarged {
  padding-bottom: 0;
}
blockquote, dl, ol, p, table, ul { margin-bottom: 1em; }
cite, em { font-style: italic; }
dt { margin-top: 1em; }
h1 { font-size: 30px; line-height: 1.3; margin-bottom: 0.3em; }
h1, h2, h3, h4, h5, h6, strong { font-weight: bold; }
h1 span, h2 span, h3 span { font-size: 12px; font-weight: normal; margin-left: 1em; }
h2 { font-size: 17px; margin-bottom: 0.5em; }
hr { border-bottom: 3px double #d9d9d9; border-width: 0 0 3px; clear: both; color: #fff; margin: 25px 0; }
input, select, text area { font-size: 1em; }
li { margin-bottom: 0.5em; }
ol { list-style: decimal; margin-left: 2em; }
table { border-collapse: collapse; width: 100%; }
tbody td { border: 1px solid #ccc; border-width: 1px 0; }
td, th { padding: 0.3em 1em 0.3em 0; }
td:last-child, th:last-child { padding-right: 0; }
th { font-weight: bold; vertical-align: top; }
ul { list-style: disc; margin-left: 1.5em; }


/* Core layout
=====================================================================*/
.clear { clear: both; }
#content { padding-bottom: 40px; }
#content, #footer, #identity-content, #nav-content, #subfooter-content { margin: 0 auto; width: 980px; }
#content-primary { float: left; width: 65.64%; }
#content-secondary { float: right; width: 31.29%; }


/* Content
=====================================================================*/

/* Action */
.action {
  background: #d81212;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 0.4em 1em;
  text-transform: uppercase;
}

.action:hover { box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); text-decoration: none; }

/* Alderman bio */
#alderman img { float: right; marign: 3px 0 0 30px; }
#alderman dt { color: #666; font-size: 11px; }

/* Charts */
  /* Axis */
  .xaxis { clear: both; color: #777; font-weight: normal; list-style: none; margin-bottom: 25px; margin-right: 9px; font-size: 9px; }
  .xaxis .tick { float: left; margin: 0; }
  .xaxis .tick.last { float: right; }
  
    /* Day */
    .xaxis.day .tick { text-align: center; width: 33.33%; }
    .xaxis.day .tick.first { text-align: left; }
    .xaxis.day .tick.last { text-align: right; }
    
    /* Week */
    .xaxis.week .tick { text-align: center; width: 14.28%; }
  
  /* Bar charts */
  .chart-bar { font-size: 11px; line-height: 1; list-style: none; margin: 0; }
  .chart-bar .count { color: #777; position: absolute; right: 5px; top: 4px; }
  .chart-bar .idx { background: #a5d9ee; border-right: 1px solid #a5d9ee; height: 100%; position: absolute; }
  .chart-bar .label { left: 5px; position: absolute; top: 4px; }
  .chart-bar li { margin-bottom: 1px; }
  .chart-bar .point { display: block; height: 20px; position: relative; }
  
  /* Column charts */
  .chart-column { list-style: none; margin: 0; text-align: center; }
  .chart-column .idx { background: #a5d9ee; bottom: 0; display: block; left: 0; position: absolute; text-indent: -999em; width: 100%; }
  .chart-column .label { bottom: 0; display: block; left: 0; position: absolute; width: 100%; }
  .chart-column li { float: left; margin: 10px 0 0 0; width: 5%; }
  .chart-column li.current .idx { background: #e00; }
  .chart-column li.current .point { color: #e00; font-weight: bold; }
  .chart-column .point { display: block; height: 20px; margin-right: 1px; position: relative; }
  .chart-column .point:hover { opacity: 0.5; }
    
    /* Crime volumes */
    .crime-volume .chart-column .point { height: 40px; }
    
      /* Daily */
      .crime-volume.daily li { width: 3.22%; }
      
      /* Monthly */
      .crime-volume.monthly li { width: 8.33%; }
      
      /* Weekly */
      .crime-volume.weekly li { width: 14.28%; }
    
    /* Wards */
    //#wards { width: 71%; float: right;}
    #wards .column-chart { clear: both; font-size: 13px; }
    #wards .idx { bottom: 20px; }
    #wards li { padding-top: 15px; width: 4%; }
    #wards .point { height: 55px; margin-right: 3px; }
    
    //#wardmap {width: 220px; height: 250px; float: left;}
    
/* Content image*/
.content-image {border: 1px solid grey; padding: 5px; margin-top: 15px;}

/* Footer */
#footer { color: #777; font-size: 11px; }

  /* Subfooter */
  #subfooter { background: #ddf2fb; margin-bottom: 5px; overflow: hidden; padding: 23px 0; }
  #subfooter-primary { float: left; width: 65.64%; }
  #subfooter-secondary { float: right; width: 31.29%; }
  #subfooter-secondary img { float: right; margin: -15px 0 0 15px; }

/* Gallery */
.gallery { list-style: none; margin: 0; }
.gallery img { border: 1px solid #ddd; width: 100%; }
.gallery li { float: left; margin-right: 6%; width: 29%; }
.gallery li:last-child { margin: 0; }

#ward_map {height: 500px; width: 100% }
#map_canvas_detail { height: 307px; margin-bottom: 1em; }
#map_canvas_enlarged { height: 100%; width: 100%}

/* Magnify links */
.magnify {
  background: #fff url(/images/magnify.png) no-repeat 0 0;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 0;
  bottom: 5px;
  display: block;
  height: 22px;
  position: absolute;
  right: 0;
  text-indent: -9999em;
  width: 22px;
}

a:hover .magnify { background-color: #005b82; background-position: 0 -22px; border-color: #005b82; }

/* Identity */
#identity { background: #ddf2fb; margin-bottom: 35px; padding: 23px 0 15px; text-align: center; }
#tagline { color: #227fa2; font-size: 16px; margin-top: 3px; }

/* Max/min */
.max, .label-red { color: #e00; }
.min, .label-green { color: #008911; }

/* Mute */
.mute { color: #666; font-size: 11px; }

/* Nav */
#nav { background: #005b82; font-size: 15px; padding: 0.6em; }
#nav a { color: #9cbecd; }
#nav a:hover { color: #fff; text-decoration: none; }
#nav li { display: inline; margin-right: 0.7em; }
#nav li.current a { color: #fff; font-weight: bold; }
#nav ul { list-style: none; margin: 0; }
#nav-content { position: relative; }

#nav #get-poster a {
  background: url(/images/poster-thumb.png) no-repeat 0 0;
  color: #fff;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 183px;
  position: absolute;
  right: -10px;
  text-align: center;
  text-indetn: -999em;
  text-transform: uppercase;
  top: -25px;
  width: 128px;
}

/* Poster */
#poster-primary { float: left; width: 48.46%; }
#poster-secondary { float: right; padding-top: 38px; width: 48.46%; }
#order { text-align: center; }

  /* Poster sizes */
  #poster-sizes { list-style: none; margin: 0; }
  
  #poster-sizes #best {
    background: url(/images/best.png) no-repeat 0 0;
    height: 72px;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 0;
    width: 73px;
  }
  
  #poster-sizes .dimensions { bottom: 15px; font-size: 12px; left: 0; position: absolute; width: 100%; }
  #poster-sizes li { background: #f2f2f2; float: left; height: 138px; margin: 0 6% 50px 0; position: relative; width: 29%; }
  #poster-sizes li:last-child { margin: 0; }
  #poster-sizes [class *= "size"] { background: #227fa2; margin: 0 auto; }
  #poster-sizes .price { bottom: -40px; font-size: 30px; position: absolute; left: 0; width: 100%; }
  #poster-sizes .price .cents { font-size: 17px; margin-left: -0.2em; vertical-align: 40%; }
  #poster-sizes .size-sm { margin-top: 54px; height: 48px; width: 32px; }
  #poster-sizes .size-md { margin-top: 42px; height: 60px; width: 40px; }
  #poster-sizes .size-lg { margin-top: 22px; height: 80px; width: 53px; }

/* Search */
#search { white-space: nowrap; }
#search input.hint { width: 300px; }
.ezpz-hint { color: #777; font-style: italic; }

/* Summaries */
.summary { clear: both; font-size: 16px; line-height: 1; text-align: center; margin-right: 12px; }
.summary p { margin: 0; }

/* Timelines */
.timeline {
  border-bottom: 1px solid #ccc;
  border-left: 25px solid #fff;
  clear: both;
  margin: 0 0 2px -25px;
  padding: 20px 0;
  position: relative;
}

#timeline-empty {
  border: 2px dashed #ccc;
  border-radius: 5px;
  font-size: 14px;
  padding: 15px;
  text-align: center;
}

.timeline h2 a.ward-title { background: url(../images/expand.png) no-repeat 0 0.2em; padding-left: 17px; }
.timeline h2 a.ward-title.expanded { background-image: url(../images/collapse.png); color: #e00; }

  /* Handles */
  .timeline:hover .handle { left: -25px; }
  
  .timeline .handle {
    background: url(../images/handle.png) repeat-y 0 0;
    cursor: pointer;
    height: 20px;
    left: -9999px;
    position: absolute;
    top: 0;
    width: 16px;
  }

  .timeline .ward-loading {
    display: none;
    margin-left: 0;
    margin-right: 10px;
  }
  
  /* Heatmap */
  .heatmap .chart { background: #fff; float: right; height: 104px; width: 770px; }
  .chart { font: 10px sans-serif; shape-rendering: crispEdges; }
  .day { fill: #fff; stroke: rgba(255, 255, 255, 0.7); }
  .heatmap .day:hover { fill: #d81111; }
  .month { fill: none; stroke: #000; stroke-width: 1px; }
    
    /* Months */
    .months { font-size: 11px; list-style: none; margin-left: 60px; text-align: center; text-transform: uppercase; }
    .months a { padding: 0.3em 1em; }
    .months li { float: left; width: 8.33%; }
    .months li.current a { color: #e00; }
    
    /* Weekdays */
    .weekdays { float: left; font-size: 9px; list-style: none; margin: 0; text-transform: uppercase; width: 25px; }
    .weekdays li { margin: 0; padding: 0.12em 0; }
    .weekdays li.current a { color: #e00; }
  
  /* History */
  #history { position: relative; }
  #history .heatmap { float: right; width: 92.22%; }
  #history .heatmap .chart { height: 78px; width: 565px; }
  #history h2 { float: left; padding-top: 18px; width: 6.66%; }
  #history .months { margin-left: 35px; }
  #history .months li { margin-bottom: 3px; }
  #history .timeline { border: 0; clear: none; margin: 0; padding: 4px 0; }
  #history .weekdays li { font-size: 8px; padding: 0; }
  
  /* Remove links */
  .timeline .remove {
    background: url(../images/x.png) no-repeat 50% 50%;
    height: 12px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 20px;
    width: 12px;
  }
  
  .timeline .remove:hover { opacity: 1; }
  
  /* Stats */
  .statistics { clear: both; font-size: 12px; line-height: 1.3; padding-top: 30px; }
  .statistics h3 { margin-bottom: 0.5em; }
  .statistics .panel { float: left; margin-right: 3%; width: 17%; }

/* Trends */
#trends { white-space: nowrap; }
#trends .cat-title a { background: url(/images/expand.png) no-repeat 0 50%; padding-left: 17px; }
#trends .current td { font-weight: bold; }
#trends .current .cat-title a { background-image: url(/images/collapse.png); }
#trends .description { white-space: normal; margin-left: 30px; }
#trends h3 { margin-left: 30px; }
#trends .highchart { height: 250px; }
#trends .num { text-align: right; }
#trends th[class *= "sorting"] { color: #227fa2; cursor: pointer; }
#trends th.sorting_asc span { background: url(../images/sort-up.png) no-repeat 100% 50%; padding-right: 10px; }
#trends th.sorting_desc span { background: url(../images/sort-down.png) no-repeat 100% 50%; padding-right: 10px; }
#trends th.sorting_disabled { color: #000; cursor: default; }
#trends .xaxis { margin: 0; text-align: center; }

  /* Subtypes */
  #trends .chart-bar { font-size: 1em; margin: 0 0 15px 32px; }
  #trends .chart-bar .count { color: #2b5b7e; font-size: 1em; font-weight: bold; }
  #trends .chart-bar .count, #trends .chart-bar .label { top: 8px; }
  #trends .chart-bar li { margin-bottom: 3px; }
  #trends .chart-bar .point { height: 30px; }

/* Toggle */
.toggle-overlay {
  background: url(/images/toggle-overlay.png) repeat-x 0 100%;
  bottom: 0;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
}

  /* Trigger */
  .toggle { border-top: 1px solid #ddd; }
  .toggle a { border-radius: 0 0 10px 10px; display: block; padding: 0.3em 0; text-align: center; }
  .toggle a:hover { background: #f5f5f5; text-decoration: none; }

/* Tooltips */
#tooltip {
	background-color: #fff;
	border: 2px solid #777;
	border-radius: 3px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	position: absolute;
	padding: 5px;
	z-index: 3000;
}

#tooltip h3, #tooltip div { margin: 0; }

/* Vis */
.vis-content { float: right; width: 82.82%; }
.vis-content, .vis-label { margin-bottom: 25px; }
.vis-label { float: left; font-size: 12px; line-height: 1.3; width: 14.11%; }

/* Years */
#years { font-size: 17px; list-style: none; margin: 0; }
#years li { display: inline; margin: 0 1em 0 0; }
#years li.current a { color: #ee0000; }

