.panel
  %h3 Time of day
  %span.sparkline-day 365,217,197,159,119,99,115,200,370,448,407,454,527,500,502,513,472,439,452,538,569,508,448,358
  .xaxis.day
    .tick.first 12a
    .tick noon
    .tick.last 12a
