<div class="panel sparkline">
  <h3>Time of day</h3>
  <span class="sparkline-day">{{ data }}</span>

  <div class="xaxis day">
    <div class="tick first">12a</div>
    <div class="tick">noon</div>
    <div class="tick last">12a</div>
  </div>
</div>
